.cat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
  pointer-events: none;
  overflow: hidden;
}

.cat-container * {
  box-sizing: border-box;
}

/* Scoped styles */
.cat-container .cat_wrapper {
  position: absolute;
  bottom: 0;
  pointer-events: auto; /* Allow clicks on the cat */
}

.cat-container .cat {
  position: absolute;
  bottom: 0px; /* Adjusted from 65px to sit on bottom of container */
  left: 100px;
  height: 30px;
  width: 60px;
  transition: 1.5s;
  transform-origin: center;
  background-color: transparent;
  transform: scale(0.6); /* Scale down as requested */
}

/* body */
.cat-container .body {
  position: absolute;
  height: 30px;
  width: 60px;
}

.cat-container .face_left .body {
  animation: turn_body_left forwards 0.5s;
}

@keyframes turn_body_left {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5, 1);
  }
}

.cat-container .face_right .body {
  animation: turn_body_right forwards 0.5s;
}

@keyframes turn_body_right {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5, 1);
  }
}

/* head */
.cat-container .cat_head {
  position: absolute;
  height: 40px;
  width: 48px;
  right: -10px;
  top: -30px;
  transition: 0.5s;
  z-index: 50;
}

.cat-container .first_pose .cat_head,
.cat-container .face_left .cat_head {
  right: 22px;
}

/* tail */
.cat-container .tail {
  position: absolute;
  top: -25px;
  height: 36px;
  width: 15px;
  animation: tail_motion forwards 2s;
  transform-origin: bottom right;
}

@keyframes tail_motion {
  0%,
  100% {
    left: -5px;
    transform: rotate(0deg) scale(1);
  }
  50% {
    left: -10px;
    transform: rotate(-50deg) scale(-1, 1);
  }
}

.cat-container .first_pose .tail,
.cat-container .face_left .tail {
  left: 45px;
  animation: tail_motion_alt forwards 2s;
}

@keyframes tail_motion_alt {
  0%,
  100% {
    left: 45px;
    transform: rotate(0deg) scale(1);
  }
  50% {
    left: 40px;
    transform: rotate(50deg) scale(-1, 1);
  }
}

/* legs */
.cat-container .leg {
  position: absolute;
  height: 20px;
  width: 10px;
  transform-origin: top center;
}

.cat-container .front_legs,
.cat-container .back_legs {
  position: absolute;
  height: 30px;
  transition: 0.7s;
}

.cat-container .front_legs {
  width: 30px;
  right: 0;
}

.cat-container .back_legs {
  width: 25px;
  left: 0;
}

.cat-container .face_left .leg svg {
  transform: scale(-1, 1);
}

.cat-container .face_right .front_legs {
  right: 0;
}

.cat-container .first_pose .front_legs,
.cat-container .face_left .front_legs {
  right: 30px;
}

.cat-container .face_right .back_legs {
  left: 0;
}

.cat-container .first_pose .back_legs,
.cat-container .face_left .back_legs {
  left: 35px;
}

.cat-container .one,
.cat-container .three {
  bottom: -15px;
  right: 0;
}

.cat-container .two,
.cat-container .four {
  bottom: -15px;
  left: 0px;
}

.cat-container .one.walk,
.cat-container .three.walk {
  animation: infinite 0.3s walk;
}

.cat-container .two.walk,
.cat-container .four.walk {
  animation: infinite 0.3s walk_alt;
}

@keyframes walk {
  0%,
  100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes walk_alt {
  0%,
  100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

/* jump */
.cat-container .cat_wrapper.jump .one {
  animation: infinite 0.3s walk;
}

.cat-container .cat_wrapper.jump .two {
  animation: infinite 0.3s walk_alt;
}

.cat-container .cat_wrapper.jump .three,
.cat-container .cat_wrapper.jump .four {
  animation: none;
}

.cat-container .cat_wrapper.jump .cat.face_right .back_legs {
  transform-origin: center;
  transform: rotate(50deg);
}

.cat-container .cat_wrapper.jump .cat.face_left .back_legs {
  transform-origin: center;
  transform: rotate(-50deg);
}

.cat-container .cat_wrapper.jump .cat.face_right .front_legs {
  transform-origin: center;
  transform: rotate(-60deg);
}

.cat-container .cat_wrapper.jump .cat.face_left .front_legs {
  transform-origin: center;
  transform: rotate(60deg);
}

.cat-container .cat_wrapper.jump {
  animation: jump forwards 1s;
}

@keyframes jump {
  0%,
  100% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  } /* Restricted jump height */
}

.cat-container .jump .face_left {
  animation: forwards 0.5s body_stand_left;
  transform-origin: right bottom;
}

.cat-container .jump .face_right {
  animation: forwards 0.5s body_stand_right;
  transform-origin: left bottom;
}

@keyframes body_stand_right {
  0% {
    transform: scale(0.6) rotate(0deg);
  }
  100% {
    transform: scale(0.6) rotate(-45deg);
  }
}

@keyframes body_stand_left {
  0% {
    transform: scale(0.6) rotate(0deg);
  }
  100% {
    transform: scale(0.6) rotate(45deg);
  }
}

/* SVGs */
.cat-container svg {
  height: 100%;
  width: 100%;
}

.cat-container polygon.eyes {
  fill: rgb(1, 143, 96);
}

.cat-container polygon,
.cat-container path {
  fill: white;
}
