/* Fallback to import in CSS just in case, but link in index.html is better */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.variable-proximity {
  font-family: 'Roboto Flex', sans-serif !important;
  font-style: normal;
  font-variation-settings: 'wght' 900, 'opsz' 12; /* Default initial state to match "from" settings */
}

/* Ensure no other styles override specificity */
.variable-proximity span {
  font-family: inherit !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
